<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
     <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
</head>
<body>
    <div id="firstVue">路由测试页面4324
        {{myData}}
        <my-component></my-component>
    </div>
    <script src="./dist/vendor/js/main.min.js"></script>
    <script type="text/javascript" src="/dist/js/commons.min.js"></script>
    <script type="text/javascript" src="/dist/js/main.min.js"></script>
</body>
</html>
