*{
    word-wrap: break-word;
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #3d4145;
    background: #f2f2f2;
    overflow: hidden;
}

.main
{
    position:absolute;
    left:0;
    top:0;
    bottom: 52px;
    z-index: 100;
    width:100%;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}


.page
{
    position:absolute;width:100%;height:100%; overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.searchbox
{
    position: absolute;
    z-index: 2;
    width: 100%;
}

ul,li {
    padding:0;
    margin:0;
    list-style-type:none;
}

a {
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a:link,a:visited{text-decoration:none;}

img {
    border: 0;
}

input, select, textarea {
    border: 0;
    outline: 0;
}

@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}

/********************************列表页样式****************************************************/
.header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height: 47px;
    line-height:47px;
    background-color: #2C6DBC;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #3778C8), color-stop(0.5, #2C6DBD), color-stop(1, #2A69B2));
    background-image:-moz-linear-gradient(top, #3778C8, #2C6DBD5 50%, #2A69B2);
    background-image:-o-linear-gradient(top, #3778C8, #2C6DBD 50%, #2A69B2);
    padding:0;
    color:#FFFFFF;
    font-size: 1.5em; font-family:"微软雅黑";
    text-align:center;
}

.header a{color:#FFFFFF;text-decoration: none}
.header .iconfont{font-size: 25px; font-weight: bold;}
.header span.fanhui {
    width: 47px;
    height:47px;
    line-height: 47px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    cursor: hand;
    border-right: 1px solid rgba(153, 185, 211, 0.2)!important;
}
.header span.fanhui:active  {background:#32609C;}
/*scroll样式*/
.listwrapper {
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    width:100%;
}

.wrapper {
    position:absolute;
    z-index:1;
    top: 0;
    bottom:0;
    left:0;
    width:100%;
    background:#F2F2F2;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scroller {
    position:absolute;
    z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
.scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}


.scroller li
{
    border-top:1px solid #D2D4D8;
    padding: 0px 5% 0px 10px;
    font-family: "微软雅黑";
    font-size: 1.2em; color:#363535;
    background:#fafafa;
    height: 6.5em;
    -webkit-transform:translateZ(0);
}
.scroller li:active{
    background:#B9D7F9;
    border-top:1px solid #ccc;
    color:#000000;
}
.iScrollHover {
    background:#444 !important;
    color:#eee !important;
}

.scroller li .top{ width:100%; height:35px; line-height:38px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;word-wrap: normal;font-size: 1.1em;font-weight: bold;}
.scroller li .top:active{ font-weight: normal;}
.scroller li .bottom{width:100%; height:22px; line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;word-wrap: normal;font-size: 1em;
    color:#9B9C9E;}
.scroller li .left{ width:50%; height:30px; line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;word-wrap: normal; float:left;color:#666565;}
.scroller li .right{width:50%; height:30px; line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;word-wrap: normal;float:left;color:#666565;}
/*上拉刷新样式*/
.scroller .iconfont
{
    font-size: 25px;
    color: #333;
}
.pullUp {
    background:#fff;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    color:#888;
    text-align:center;
    border-top:1px solid #ccc;
    position: relative;
}

.pullDown {
    height: 46px;
    line-height: 46px;
    font-size:13px;
    color:#888;
    text-align:center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: -46px;
}

.pullUpIcon_shang,.pullDownIcon_shang{
    display: inline-block;
}
.pullUpIcon_shang:before,.pullDownIcon_shang:before{
    content: "\e64a";
}

.pullUpIcon_loading,.pullDownIcon_loading{
    display: inline-block;
    animation: 1 linear 0s normal none infinite rotate;
    -webkit-animation: 1s linear 0s normal none infinite rotate;
}
.pullUpIcon_loading:before,.pullDownIcon_loading:before{
    content: "\e601";
}

.pullUpIcon_xia,.pullDownIcon_xia{
    display: inline-block;
}
.pullUpIcon_xia:before,.pullDownIcon_xia:before
{
    content: "\e65b";
}

.pullUpLabel,.pullDownLabel
{
    position: relative;
    top:-5px;
    margin-left: 10px;
}
/*暂无数据*/
.listmask{
    text-align: center;
    top: 0;
    position: absolute;
    width: 100%;
    background: #F2F2F2;
    z-index: 1;
    height: 100%;
}

.listmask .iconfont
{
    font-size: 150px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -75px;
}



/********************************列表页样式****************************************************/

.divAlert_box {
    background: white;
    position: absolute;
    top: 42%;
    left: 1em;
    right: 1em;
    text-align: center;
    line-height: 2.4em;
    border-radius: 3px;
    border: solid 1px #47628D;
    box-shadow: 0.2em 0em 0.2em 0.2em #696767;
    font-size: 1.2em;
}




#loading_page .icon-loading
{
    font-size: 25px;
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    animation: 1 linear 0s normal none infinite rotate;
    -webkit-animation: 1s linear 0s normal none infinite rotate;
}
#loading_page .icon-loading:before
{
    content: "\e60b";
}


/********************************控件样式****************************************************/

/*记住按钮Start*/
.label-switch {
    display: inline-block;
    vertical-align: middle;
    width: 2.6rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    height: 1.6rem;
    position: relative;
    cursor: pointer;
    -webkit-align-self: center;
    align-self: center;
}
.label-switch .checkbox {
    width: 2.6rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    height: 1.6rem;
    background: #e5e5e5;
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.label-switch .checkbox:before {
    content: ' ';
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    width: 2.4rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    height: 1.4rem;
    background: #fff;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.label-switch .checkbox:after {
    content: ' ';
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 0.1rem;
    left: 0.1rem;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.label-switch input[type="checkbox"] {
    display: none;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
    background: #4cd964;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
    -webkit-transform: translateX(1.1rem);
    transform: translateX(1.1rem);
}
/*记住按钮End*/



.bar-index {
    z-index: 999;
    margin: 0 auto;
    display: -webkit-flex;
    position: absolute;
    right: 0;
    left: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    backface-visibility: hidden;
    height:52px;
    bottom: 0px;
    background: white;
}

.bar-index .tab-item
{
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bar-index .selected
{
    color: #27AD7C;
}

.bar-index .icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
    overflow: hidden;
}

.bar-index .iconfont
{
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.bar-index .font-style {
    font-size: 13px;
    -webkit-transform: scale(0.80);
    text-align: center;
    margin-top: 1px;
    font-weight: 100;
}


.bar-index .div-img-center{
    padding: 6px 0 0 0;
}

.mybar
{
   border-top:1px solid #ddd;
}

.mybar .tab-selected
{
    color: #27AD7C
}


.color-bg {
    background: #F9F9F9 !important;
}

.content {
    position: absolute;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.color-cont3 {
    color: #A3A7AC !important;
}

.flex_center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}


.parting_line {
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0 10px;
    position: relative;
    top: 3px;
}

.color-line-bg {
    background: #D6D6D6 !important;
}

.sp_userinfo .head {
    height: 100%;
    background: -webkit-linear-gradient(rgba(35,35,35,0), black);
}

.sp_userinfo .head_img_div img {
    width: 100%;
}

.sp_userinfo .head_name {
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    margin-top: 20px;
}

.sp_userinfo .channelprofile {
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
    padding: 0px 50px;
}

.userinfo {
    position: relative;
}

.list-block {
    margin: 0;
}

.list-block ul {
    list-style: none;
    padding: 0;
}

.list-block .item-content {
    box-sizing: border-box;
    /* padding-left: 0.55rem; */
    min-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.list-block .item-inner {
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.35rem;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.list-block  .item-inner {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.45rem;
    -webkit-align-self: stretch;
    align-self: stretch;
}

.list-block .iconfont
{
    font-size: 25px;
    margin-right: 15px;
}

.myspace-to .icon-arrow
{
    margin-right: 0;
    color: #d9dbdc;

}


.flex_center_vertical {
    display: flex !important;
    display: -webkit-flex !important;
    align-items: center;
    -webkit-align-items: center;
}

.hr
{
    position: relative;
    padding-left: 15px;
}

.hr:after, .gbui_cell:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.myspace-to {
    height: 45px;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
}

.myspace-to img {
    height: 18px;
    margin-left: 10px;
}

.unreadCount {
    font-size: 12px;
    color: white;
    background: rgba(255,49,33,1);
    border-radius: 11px;
    min-width:16px;
    height: 16px;
    line-height: 16px;
    padding: 2px;
    text-align: center;
}

.profile-info{
    position: relative;
    color: #A3A7AC;
    margin: 10px auto;
    text-align: center;
    height: 20px;
    line-height: 20px;
}


.parting_line
{
    width: 1px;
    height: 15px;
    background: #D6D6D6;
    margin: 0 10px;
}


/*hot Start*/

.cont_roll {
    margin: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(1,123,65,.1);
    height: 75px;
    padding: 12px 14px;
    box-sizing: border-box;
}

/*hot End*/

/*discover Start*/
.discover-bar
{

    padding:0 15px;
    background: #333 !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.discover-bar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.searchbar {
    padding: 8px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.searchbar .searchbar-cancel {
    margin-right: -40px;
    width: 37px;
    float: right;
    height: 37px;
    line-height: 37px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.searchbar .search-input {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-right: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.search-input {
    position: relative;
}
.search-input input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    font-family: inherit;
    color: #3d4145;
    background-color: #fff;
    border: 0;
    margin: 0;
    height: 37px;
    font-size: 14px;
}
.search-input input::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 1;
}
.search-input .icon {
    position: absolute;
    font-size: 0.9rem;
    color: #b4b4b4;
    top: 50%;
    left: 0.3rem;
    -webkit-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
}
.search-input label + input {
    padding-left: 25px;
}

.searchbar.searchbar-active .searchbar-cancel {
    margin-right: 0;
    opacity: 1;
}
.searchbar.searchbar-active .searchbar-cancel + .search-input {
    margin-right: 45px;
}

/*discover End*/

